# Ignore node_modules in all subfolders
**/node_modules/

# Ignore build/dist folders
**/dist/
**/build/

# Ignore environment files
**/.env

# Logs
**/logs/
*.log

# IDE/Editor specific
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
